<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success me-2" type="submit" [disabled]="!recipeForm.valid">
            Save
          </button>
          <button class="btn btn-danger me-2" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-sm-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" />
        </div>
        <div class="mb-3 col-sm-12">
          <label for="imagePath" class="form-label">Image URL</label>
          <input type="input" class="form-control" id="imagePath" formControlName="imagePath" #imagePath />
        </div>
      </div>
      <div class="row">
        <img [src]="imagePath.value" alt="" class="img-fluid" />
      </div>
      <div class="row">
        <div class="mb-3 col-sm-12">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="input"
            class="form-control"
            id="description"
            rows="6"
            formControlName="description"></textarea>
        </div>
      </div>
      <div formArrayName="ingredients">
        <div class="row" *ngFor="let ingredientCtrl of controls; let i = index" [formGroupName]="i">
          <div class="mb-3 col-sm-8">
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="mb-3 col-sm-2">
            <input type="number" class="form-control" formControlName="amount" />
          </div>
          <div class="mb-3 col-sm-2">
            <button class="btn btn-danger me-2" type="button" (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success" type="button" (click)="onAddIngredient()">
            Add Ingredient
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
