<div class="row">
  <div class="col-sm-12">
    <form #form="ngForm">
      <div class="row">
        <div class="mb-3 col-sm-5">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" #nameInput />
        </div>
        <div class="mb-3 col-sm-2">
          <label for="amount" class="form-label">Amount</label>
          <input type="number" class="form-control" id="amount" #amountInput />
        </div>
      </div>
      <div class="row">
        <div>
          <!-- <button class="btn btn-success me-2" type="submit" (click)="onAddItem()">Add</button> -->
          <button class="btn btn-success me-2" type="submit" (click)="onAddItem(nameInput, amountInput)">Add</button>
          <button class="btn btn-danger me-2" type="button">Delete</button>
          <button class="btn btn-primary me-2" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
